{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "jsx-a11y/label-has-for": [
      0,
      {
        "components": ["Label"],
        "required": {
          "every": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["CustomLabel"],
        "labelAttributes": ["inputLabel"],
        "controlComponents": ["CustomInput"],
        "assert": "both",
        "depth": 3
      }
    ],
    "linebreak-style": [0, "error", "windows"]
  }
}
